 h1
{
    font-style:cursive;
    font-size:35px;
    letter-spacing: 2px;
    text-align: center;
}
.pic
{
    background: url('bg3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 40vw;
    height:30vh;
    background-position: center;
}
/* a
{
    text-align:right;
    text-decoration: none;
    color:white;
    border: 1px solid black;
    padding: 10px;
    width:80px;
} */

@media only screen and(max-width: 1700px)
{
    .card
    {
    margin-left:300px;
    position:relative;
    display: block;
    margin: auto;
    }
}
.hori
{
    display: flex;
    flex-direction: column;
}
